body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding:0;
  margin:0;
  margin-top:-50px;
  box-sizing: border-box;
  background-color: #050504;
}

.hero-container {
  position: relative;
  width: 100%;
  height:100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.746), rgba(0, 0, 0, 0.745)), url("./hero_img copy.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position:top;
}

h1 {
  margin-top:0;
}




.hero-info {
  font-family: 'Bebas Neue', sans-serif;
  margin-left: 8%;
  margin-bottom: 15%;
}

.hero-info h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 9em;
  text-shadow: 2px 2px 2px rgb(40, 40, 40);
  margin-bottom: 0;
  text-decoration: underline;
}

.hero-info h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.hero-info > a {
  font-size: 1.5em;
  background: #68caed;
  padding: 0.5em .7em;
  text-decoration:line-through;
  color: #1c1c1c;
  display: inline-block;
  margin-top: 0;
  border-radius: .4em;
  transition: all 0.1s ease-out;
}

.hero-info > a:hover {
  text-decoration:line-through;
  color:#1c1c1c;
  cursor:copy;
  font-size: 1.6em;

}

main {
  
  display:flex;
  justify-content: center;
  padding:2em;
  background-color: #090909;
}
main > h1 {
  font-family: 'Bebas Neue';
  font-size: 6em ;
  color: #f8f8f8;
}




h1, h2 {
  color: #f8f8f8;
  
}

.hero {
  display:flex;
  flex-direction: column;
  justify-content: left;
}


.title-h1 {
  /* font-family: "Lobster Two", sans-serif; */
  font-size:5em;
  text-shadow: 2px 2px 2px rgb(133, 133, 133);
  background: transparent;
  margin:.5em;
  color: #93d6ee;
}

.icons-container {
  margin-top: 2em;;
  border-radius: .5em;

}

.contact-container {
  display:flex;
  justify-content: center;
  min-height: 10em;
}

.icon-span {
  height: 14em;  
  width:2em;
  position: fixed; 
  z-index: 1; 
  top:17em;
  right: 0; 
  background-color:#4d7b8b61; 
  padding-left:1.5em;
  padding-right: .7em;
  overflow-x: hidden;  
  display: flex; 
  flex-direction: column; 
  gap:1em;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  transition: all 0.3s ease-out ; 
}

.icon-span:hover {
  width:4em;
}

.fa-brands {
  color: #f3f3f3;
}

.fa-brands:hover {
  color: #66C4D9;
}

.nav-container {
  display:flex;
  width: 93.7%;
  align-items:center;
  justify-content:flex-end;
}

.nav-ul li {
  display: inline-block;

}

.nav-ul {
  display:flex;
  list-style:none;
  font-size:2.7em;
  gap:1em;
  padding:1em;
  padding-left: 2em;
  padding-right: 2em;
}

a {
  color:#66C4D9;
  text-decoration: none;
}

a:hover {
  color: #f3f3f3;
  text-decoration: underline;
}






footer {
  position: relative;
  height: 0;
  padding-top: 30%; /* 240 divided by 800 and multiplied by 100 */
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width:768px) {
  * {
    font-size: 10px;
  }
}

